* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* Navigation Section */

.navbar__root {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.23);
    margin: 0 auto!important;
}

.navbar__container {
    height: 80px;
    font-size: 1rem;
    padding: 0 30px;
    max-width: 1300px;
    z-index: 1;
}

.navbar__brand {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.741);
}

.navbar__brand:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.741);
}

.navbar__tag {
    color: rgb(249, 166, 41);
}

.navbar__menu {
    list-style: none;
    /* margin: 0!important; */
}

.navbar__item {
    height: 80px!important;
    margin: 0!important;
}

.navbar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.535);
    height: 100%;
    width: 125px;
    transition: all 0.23s ease-in-out;
    font-weight: 800;
    margin: 0!important;
}


.navbar__link:hover {
    text-decoration: none;
    color: rgb(253, 180, 83);
}


.navbar__btn {
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    background: rgb(249, 166, 41);
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    text-decoration: none;
}


/* Navigation Section */
@media screen and (max-width: 860px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 83px!important;
        z-index: 1!important;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid!important;
        grid-template-columns: auto!important;
        margin: 0!important;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: -1;
        background: #fff;
    }

    .navbar__menu.active {
        background: #fff;   
        top: 85px;
        opacity: 0.9;
        transition: all 0.5s ease-in-out;
        height: 60vh!important;
        z-index: 99;
        font-size: 1.5rem!important;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }

    .navbar__brand {
        padding-left: 30px;
        font-size: 1.5rem;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__link {
        text-align: center!important;
        padding: 2rem 0!important;
        width: 100%!important;
        color: #000;
        display: table;
    }
    
    #navSession {
        display: flex!important;
        flex-direction: column!important;
    }

    .navbar__toggle {
        margin: 0;
    }

    .navbar__toggle .bars{
        width: 30px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(249, 166, 41);
        display: block;
        cursor: pointer;
    }

    .navbar__link:active {
        background: rgb(249, 166, 41);
        color: #fff;
    }

    #mobile__menu {
        position: absolute;
        top: 16px;
        right: 6%;
        transform: translate(2%, 20%);
    }

    #mobile__menu.is-active .bars:nth-child(2) {
        opacity: 0;
    }

    #mobile__menu.is-active .bars:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
    }

    #mobile__menu.is-active .bars:nth-child(3) {
        transform: translateY(-9px) rotate(45deg);
    }
}


/* end of Navigation Section */

.btn-block {
    background: rgb(249, 166, 41);
    color: rgba(255, 255, 255, 0.871);
    border: 1px solid rgb(249, 166, 41);
}

.btn-block:hover {
    background: none;
    color: rgba(0, 0, 0, 0.878);
}

.btn-block:focus {
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


input:focus {
    box-shadow: none!important;
    border: 1px solid rgb(249, 166, 41)!important;
}

/* Footer Section */

.footer__root {
    background: rgb(249, 166, 41);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.875rem;
}

@media screen and (max-width: 870px) {
    .footer__root {
        font-size: 1rem;
    }
}


@media screen and (max-width: 670px) {
    .footer__root {
        font-size: 0.5rem;
    }
}
