.btn {
    background: rgb(249, 166, 41);
    color: rgba(255, 255, 255, 0.871);
    border: 1px solid rgb(249, 166, 41);
}

.btn:hover {
    background: none;
    color: rgba(0, 0, 0, 0.878);
}

.btn:focus {
    box-shadow: none;
}