* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* Navigation Section */

.navbar__root {
    background: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.23);
    /* position: relative;
    top: 0!important; */
    margin: 0 auto!important;
}

.navbar__container {
    height: 80px;
    font-size: 1rem;
    padding: 0 30px;
    max-width: 1300px;
    z-index: 1;
}

.navbar__brand {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.741);
}

.navbar__brand:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.741);
}

.navbar__tag {
    color: rgb(249, 166, 41);
}

.navbar__menu {
    list-style: none;
    /* margin: 0!important; */
}

.navbar__item {
    height: 80px!important;
    margin: 0!important;
}

.navbar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.535);
    height: 100%;
    width: 125px;
    transition: all 0.23s ease-in-out;
    font-weight: 800;
    margin: 0!important;
}

.navbar__link:hover {
    text-decoration: none;
    color: rgb(253, 180, 83);
}


.navbar__btn {
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    background: rgb(249, 166, 41);
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    text-decoration: none;
}


/* Navigation Section */
@media screen and (max-width: 860px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 83px!important;
        z-index: 1!important;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid!important;
        grid-template-columns: auto!important;
        margin: 0!important;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: -1;
        background: #fff;
    }

    .navbar__menu.active {
        background: #fff;   
        top: 85px;
        opacity: 0.9;
        transition: all 0.5s ease-in-out;
        height: 60vh!important;
        z-index: 99;
        font-size: 1.5rem!important;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }

    .navbar__brand {
        padding-left: 30px;
        font-size: 1.5rem;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__link {
        text-align: center!important;
        padding: 2rem 0!important;
        width: 100%!important;
        color: #000;
        display: table;
    }
    
    #login {
        display: flex!important;
        flex-direction: column!important;
    }

    .navbar__toggle {
        margin: 0;
    }

    .navbar__toggle .bars{
        width: 30px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(249, 166, 41);
        display: block;
        cursor: pointer;
    }

    .navbar__link:active {
        background: rgb(249, 166, 41);
        color: #fff;
    }

    #mobile__menu {
        position: absolute;
        top: 16px;
        right: 6%;
        transform: translate(2%, 20%);
    }

    #mobile__menu.is-active .bars:nth-child(2) {
        opacity: 0;
    }

    #mobile__menu.is-active .bars:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
    }

    #mobile__menu.is-active .bars:nth-child(3) {
        transform: translateY(-9px) rotate(45deg);
    }
}


/* end of Navigation Section */


/* Header Section */
.header__root {
    border-top: 50px solid rgb(253, 180, 83);
    position: relative;
    background: #fff;
}

.header__root img {
    width: 100%;
    max-width: 1500px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.596);
}


.overlay__heading {
    color: rgba(255, 255, 255, 0.919);
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin: 1rem 0;
}

.overlay__text {
    color: rgba(255, 255, 255, 0.919);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    width: 75%;
}

.overlay__button {
    background: rgb(249, 166, 41);
    color: #fff;
    padding: 15px 55px;
    border-radius: 25px;
    text-align: center;
    margin: 1rem 0;
}

.overlay__button:hover {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}


@media screen and (max-width: 800px) {
    
    .overlay__heading {
        font-size: 1.2rem!important;
    }

    .overlay__text {
        font-size: 1rem!important;
        padding: 0px 50px;
        width: 100%;
    }

    .overlay__button {
        font-size: 0.8rem!important;
    }
}


@media screen and (max-width: 690px) {
    .header__root img {
        object-fit: contain;
    }

    .overlay__heading {
        font-size: 0.8rem!important;
    }

    .overlay__text {
        font-size: 0.6rem!important;
        width: 100%;
    }

    .overlay__button {
        font-size: 0.6rem!important;
    }
}


.main__root {
    width: 75%;
    margin: 0 auto!important;
    padding: 50px;
}


.succeed {
    font-size: 2rem;
}


.main__studyNow,
.main__convinient,
.main__instructions,
.main__jobHunting,
.main__portfolio {
    font-size: 1.3rem;
    font-weight: 600;
}

.study__container,
.convinient__container,
.instruction__container,
.jobHunting__container,
.portfolio__container {
    width: 78%;
}



.study img {
    width: 170px;
    height: auto;
}

.convinient img {
    width: 180px;
}


.instruction img {
    width: 170px;
}

.jobHunting img {
    width: 190px;
}

.portfolio img {
    width: 190px;
}



@media screen and (max-width: 800px) {
    .main__root {
        width: 100%;
        margin: 0 auto!important;
        padding: 50px;
    }

    .main__root .succeed {
        font-size: 1.5rem;
    }

    .study img,
    .convinient img,
    .instruction img,
    .jobHunting img,
    .portfolio img {
        display: none;
    }

    .study__container,
    .convinient__container,
    .instruction__container,
    .jobHunting__container,
    .portfolio__container {
        width: 100%;
    }
    

    .main__studyNow,
    .main__convinient,
    .main__instructions,
    .main__jobHunting,
    .main__portfolio {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }
}


/* Footer Section */

.footer__root {
    background: rgb(218, 146, 38);
    position: absolute;
    width: 100%;
    font-size: 0.875rem;
}

@media screen and (max-width: 870px) {
    .footer__root {
        font-size: 1rem;
    }
}


@media screen and (max-width: 670px) {
    .footer__root {
        font-size: 0.5rem;
    }
}

/* End of Footer Section */